name: Hello World Workflow

on:
  push:
    branches:
      - main  # Le workflow s'exécute à chaque push sur la branche main

jobs:
  greeting:
    runs-on: ubuntu-latest

    steps:
      - name: Afficher Hello World
        run: echo "Hello World"
