name: Test Secrets

on:
  push:
  pull_request:

jobs:
  show-secret:
    runs-on: ubuntu-latest

    steps:
      - name: Afficher le secret masqué
        run: echo "La clé API est :${{ secrets.API_KEY }}"
